.admin-menu{
    background-color: rgb(175, 244, 255);
}
.admin-container{
    border: 1px solid lightgray;
}
.admin-menu li{
    padding: 7px;
    padding-left: 15px;
}
.admin-menu li:hover{
    background-color: rgb(221, 255, 255);
}
