.link{
    text-decoration: none;
    color: rgb(3, 26, 1);
    margin-right: 60px;
    margin-top: 7px;
    font-weight: 600;
}
.link:hover{
    text-decoration: none;
    color: rgb(33, 99, 46);
}
#login-btn{
    background-color: white;
    border: 2px solid white;
    padding: 0px 15px;
    border-radius: 5px;
}